body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:590px;
  height:548px;
  color:#797979;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:175px;
  top:313px;
  width:100px;
  height:100px;
  color:#797979;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:83px;
  width:570px;
  height:44px;
  color:#797979;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:96px;
  width:130px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:127px;
  width:570px;
  height:44px;
  color:#797979;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:175px;
  top:96px;
  width:405px;
  height:18px;
  color:#797979;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:171px;
  width:570px;
  height:44px;
  color:#797979;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:215px;
  width:570px;
  height:44px;
  color:#797979;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:259px;
  width:570px;
  height:44px;
  color:#797979;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:30px;
  top:272px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:20px;
  top:303px;
  width:570px;
  height:120px;
  color:#797979;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:316px;
  width:105px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:175px;
  top:272px;
  width:405px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:423px;
  width:570px;
  height:125px;
  color:#797979;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:125px;
}
#u27 {
  position:absolute;
  left:2px;
  top:54px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:30px;
  top:436px;
  width:130px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:175px;
  top:434px;
  width:405px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:108px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:160px;
  top:83px;
  width:10px;
  height:465px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:448px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:465px;
}
#u33 {
  position:absolute;
  left:80px;
  top:20px;
  width:113px;
  height:44px;
  font-family:'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#CC33FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:285px;
  top:359px;
  width:149px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:285px;
  top:387px;
  width:222px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:285px;
  top:313px;
  width:218px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:511px;
  top:313px;
  width:25px;
  height:100px;
  color:#797979;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:539px;
  top:354px;
  width:40px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:10px;
  top:562px;
  width:430px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3366;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:30px;
  top:140px;
  width:130px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:175px;
  top:140px;
  width:405px;
  height:15px;
  color:#797979;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:30px;
  top:183px;
  width:130px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:177px;
  top:181px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:30px;
  top:227px;
  width:130px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:175px;
  top:224px;
  width:405px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
